env_name=CarlaVehSensors
data_path = "/home/peh324/Codes/V2X-Sim-2.0-mini/v2x_sim_2.0_mini"
v2x_data_path = "/home/peh324/Codes/V2X-Sim-2.0-mini/V2X-Sim-det"
result_path = "/home/peh324/Codes/WorldModel/results"
seed = 66

# Env
num_vehicles = 5
time_steps = 100
n_clusters = 1
time_slice_unit = 0.001
summary_slices = 2
feature_slices = 1
process_slices = 4
visualize = 0

em_model = VAE
pred_model = RNN
ctrl_model = None
latent_dim = 10

# RL
epoch = 5
save_model = 1
load_model = 1
model_checkpt = "/home/peh324/Codes/WorldModel/model"
max_bandwidth_slices = 3
# RL, Random, Single
strategy = "RL"