env_name=CarlaVehSensors
data_path = "D:/Code/coperception/data/v2x_sim_dataset"
v2x_data_path = "D:/Code/coperception/data/v2x_sim_dataset/V2X-Sim-det"
seed = 66

# Env
num_vehicles = 5
time_steps = 100
n_clusters = 1
time_slice_unit = 0.01
summary_slices = 2
feature_slices = 1
process_slices = 4

em_model = VAE
pred_model = RNN
ctrl_model = None
latent_dim = 10

# RL
obs_dim = 10
action_dim = 4
