env_name=CarlaVehSensors
data_path = "/home/peh324/Codes/V2X-Sim-2.0-mini/v2x_sim_2.0_mini"
v2x_data_path = "/home/peh324/Codes/V2X-Sim-2.0-mini/V2X-Sim-det"
result_path = "/home/peh324/Codes/WorldModel/results"
seed = 66

# Env
num_vehicles = 5
time_steps = 100
n_clusters = 1
visualize = 0
seqs_len = 5
TOP_K = 75
det_threshold = 0.2

# Communication & Computing model
Comm_Comp_model = 'Base'


# RL
epoch = 200
save_model = 0
load_model = 0
model_checkpt = "/home/peh324/Codes/WorldModel/model"
# RL, Random, Single
strategy = "Random"
# RL_model = "DPPO"
bc_steps = 0
bc_samples = 0

